[mysqld]
bind-address = {{ network_topology["private"]["address"] }}
port = {{ mariadb_port }}

datadir=/var/lib/mysql/
log-error=/var/log/ccp/mysql/mysql.log
max_connections=10000
skip-name-resolve

log-bin=mariadb-bin
binlog_format=ROW
default-storage-engine=innodb
innodb_autoinc_lock_mode=2

wsrep_on=OFF
wsrep_provider="/usr/lib/galera/libgalera_smm.so"
wsrep_cluster_name="galera"
wsrep_node_name="HOSTNAME"
wsrep_sst_method=xtrabackup-v2
wsrep_sst_auth=mysql:password
wsrep_slave_threads=4

[server]
pid-file=/var/lib/mysql/mariadb.pid
