[mysqld]
bind-address = {{ network_topology["private"]["address"] }}
port = {{ mariadb.port }}

datadir=/var/lib/mysql/
log-error=/var/log/ccp/mysql/mysql.log
max_connections=10000
skip-name-resolve

character-set-server = utf8
collation-server = utf8_general_ci

log-bin=mariadb-bin
binlog_format=ROW
default-storage-engine=innodb

innodb_autoinc_lock_mode=2
innodb_buffer_pool_size = 512M
innodb_file_format = Barracuda
innodb_file_per_table = 1
innodb_flush_log_at_trx_commit = 2
innodb_flush_method = O_DIRECT
innodb_io_capacity = 500
innodb_read_io_threads = 8
innodb_write_io_threads =8

open_files_limit = 102400

wsrep_on=OFF
wsrep_provider="/usr/lib/galera/libgalera_smm.so"
wsrep_cluster_name="galera"
wsrep_node_name="HOSTNAME"
wsrep_sst_method=xtrabackup-v2
wsrep_sst_auth=mysql:password
wsrep_slave_threads=4

[server]
pid-file=/var/lib/mysql/mariadb.pid
